body {
    color: white;
    h1 {
        color: saddlebrown;
    }
    label {
        color: saddlebrown;
        font-size: 1em;
    }
    margin-bottom: 30px;
}


.book_info {
    // width: 100%;   
    height: fit-content;     
    .flex_info {
        background-color: snow;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;    
        width: 100%;
        color: black;
        justify-content: space-evenly;
        p {
            min-width: 250px;
            max-width: 400px;
            padding: 20px;
            // margin: 0px auto;
        }
        ul {
            min-width: 250px;
            max-width: 600px;
            // margin: 0px auto;
            justify-content: left;
            padding: 20px;               
        }    
    }
}


.add_review {

    width: 100%;

}
#add_review-btn {
    width: 100%;
    background-color: darkblue;
    font-size: 1.5em;
    color: white;   
}
div.add_review{
    .form_review {
        display: none;
    }

}

div.show_review .form_review {
    display: grid;
    width: 100%;
    grid-template-columns: 90%;
    padding: 20px;
    /* background-color: cyan; */
    justify-content: center;
}

#star_container {                        
    padding: 20px;
    /* background-color: green; */
    width: 100%;
    justify-content: center;
    position: relative;
}

.reviews {
    /* background-color: blue; */
    width: max-content;            
    padding: 0px;
    padding-bottom: 0px;
    display: inline-flex;

    .review_input {
        /* hide the radio buttons */
        position: absolute;
        left: -10000000px;
    }

    .review_label {
        .fas {
            position: absolute;
            top: -0.5em;
            left: calc(100% / 1.95);
            /* display: block;                       */
            font-size: 1.5em;
            visibility: hidden;
        }
    }
    .review_label-zero {
        color: #ddd;
    }
}

.star {
    /* Default state of stars is greyed out */
    font-size: 1.5em;
    color: orange;           
    margin: 0;
    /* background-color: red; */
}

.review_label {
    padding: 0 0.7em;
    margin: 0;    
}

#star_container .reviews:hover .review_input ~ .review_label .star {
    color: orange;           
}

#star_container .reviews:hover .review_label:hover .fas {
    visibility: visible;
}

#star_container .reviews:hover .review_label:not(:hover) .fas {
    visibility: hidden;
}
 
#star_container .reviews:hover .review_label:hover ~ .review_label .star {
    color: #ddd;
}

.review_input:checked ~ .review_input:not(:checked) ~ .review_label .star {
    color: #ddd;
}

.review_input:checked + .review_label .fas {
    visibility: visible;
}

.review_input-none:not(:checked) + .review_label .no-star{
    /* When hovering over star indicate review is given else grey it out */
    color: blue;
}

.review_text {
    width: 100%;
}

.fetched_reviews {
    display: grid;
    // width: 100%;
    grid-template-columns: 100%;
    justify-content: center;
    padding: 10px;    
    row-gap: 5px;
    background-color: #040437;
    div.user_review {
        width: 100%;        
        justify-content: left;
        padding: 8px;
        background-color: white;
        color: black;
    }
}