body {
  background-color: #040437;
}
body .navbar {
  background-color: black;
  font-family: Arial;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  box-shadow: 0px 8px 6px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
body .navbar p {
  color: whitesmoke;
  font-size: 1.5em;
  margin: 0 !important;
}
body .navbar .links a {
  cursor: pointer;
}
body .navbar .links a:hover {
  background-color: saddlebrown;
}
body .navbar .links .drop-btn {
  outline: none;
  border: none;
  background-color: inherit;
  color: white;
  font-size: 20px;
}
body .navbar #active_link {
  background-color: saddlebrown;
}
@media (min-width: 655px) {
  body .navbar {
    padding: 0px 1px 0px 20px;
    display: grid;
    column-gap: 5px;
    grid-template-columns: 20% 77%;
  }
  body .navbar .links {
    justify-content: right;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 200px 200px 200px;
    position: relative;
    padding-right: 15px;
  }
  body .navbar .links a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px 0px;
  }
  body .navbar .links .dropdown {
    position: relative;
    justify-content: center;
    /* padding: 20px 0px; */
    /* background-color: red; */
  }
  body .navbar .links .drop-btn {
    padding: 20px 5px;
    width: 100%;
    cursor: pointer;
  }
  body .navbar .links .dropdown-content {
    position: absolute;
    display: none;
    background-color: #262525;
    width: 100%;
  }
  body .navbar .links .dropdown-content a {
    color: whitesmoke;
    float: none;
    width: 100%;
    background-color: inherit;
    display: block;
  }
  body .navbar .links .dropdown:hover {
    background-color: #422007;
  }
  body .navbar .links .clicked {
    display: block;
  }
  body .navbar .burger {
    display: none;
  }
}
@media (max-width: 654px) {
  body .navbar {
    padding: px 20px;
    display: block;
    height: 60px;
  }
  body .navbar .links {
    left: 0px;
    position: fixed;
    display: grid;
    grid-template-columns: 100%;
    left: -1000px;
    top: 60px;
    width: 100vw;
    background-color: black;
  }
  body .navbar .links a, body .navbar .links > div {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 0px;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }
  body .navbar .links div.show {
    display: block;
  }
  body .navbar .links .dropdown-content {
    position: absolute;
    width: 100%;
    display: none;
    background-color: grey;
  }
  body .navbar .links .dropdown-content a {
    color: whitesmoke;
    float: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
  }
  body .navbar .links .clicked {
    display: block;
  }
  body .navbar .links .not_clicked {
    margin-top: 88px;
  }
  body .navbar .show-links {
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    left: 0px;
  }
  body .navbar .burger {
    width: 70px;
    height: inherit;
    background-color: black;
    position: fixed;
    top: 0px;
    right: 1px;
  }
  body .navbar .burger .bar {
    background-color: white;
    border-radius: 5px;
    content: "";
    width: 40px;
    height: 6px;
    position: relative;
    top: 13px;
    left: 15px;
    cursor: pointer;
  }
  body .navbar .burger .bar::before {
    content: "";
    top: 11px;
    width: calc();
    height: 6px;
    display: block;
    background-color: white;
    position: relative;
    border-radius: 5px;
  }
  body .navbar .burger .bar::after {
    content: "";
    top: 15px;
    width: 40px;
    height: 6px;
    display: block;
    background-color: white;
    position: relative;
    border-radius: 5px;
  }
  body .navbar .burger .cross .bar::before {
    transform: rotate(45deg);
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    top: 12px;
    visibility: visible;
  }
  body .navbar .burger .cross .bar::after {
    transform: rotate(-45deg);
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    visibility: visible;
    top: 7px;
  }
  body .navbar .burger .cross .bar {
    visibility: hidden;
  }
}

/*# sourceMappingURL=nav_bar.css.map */
