body {
    color: white;
    h1 {
        color: saddlebrown;
    }
    label {
        color: saddlebrown;
        font-size: 1em;
    }
}



.grid_results {
    display:grid;
    row-gap: 20px;
    // background-color: none;
    grid-template-columns: fit-content;
    padding: 5px;
    height: min-content;
    width: fit-content;
    margin: 0px auto 0px auto;
    
    .flex_results {
        display: flex;
        background-color: snow;
        border-radius: 9px;
        color: black;            
        flex-wrap: wrap;
        height: fit-content;
        width: fit-content;

        p{
            max-width: 400px;
            min-width: 250px;
            padding: 20px;
            text-align: center;
            margin: 0px auto 0px auto;   
        }
        ul {
            min-width: 250px;            
            max-width: 600px;           
            padding: 60px 20px;
            justify-content: center;
            margin: 0px auto 0px auto;   

            li {
                list-style-type: none;
                padding-bottom: 6px;
            }
        }
    }
}

@media (max-width: 654px) {
    .grid_results {
        .flex_results {
            ul {
                padding: 10px 5px 10px 20px;
            }
        }
    }

}