{% extends 'base.html' %}

{% block stylesheet %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/book_reviews.css') }}">
{% endblock %}

{% block title %}Reviews{% endblock %}

{% block content %} 

    <section class="container book-review-stats">        
        <h1 class="review-header card fs-2">Review Stats</h1>
        <div class="review-info card" id="stats">                            
            <div class="img px-1">
                <img src="{{ google_books.image }}" alt="">
            </div>
            <div class="info px-1 ">
                <table >
                    <tr><th>Title</th><td>: </td><td>{{ book_results.title }}</td></tr>
                    <tr><th>Author(s)</th><td>: </td><td>{{ book_results.author }}</td></tr>
                    <tr><th>ISBN</th><td>: </td><td>{{ book_results.isbn }}</td></tr>
                    <tr><th>Year</th><td>: </td><td>{{ book_results.year }}</td></tr>                    
                </table>                
            </div>
            <div class="review-stats p-1">                    
                <div class="review-stats-table ">                        
                    <table class="card">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Bibliophilia</th>
                                <th>Google Books</th>
                            </tr>
                            
                        </thead>
                        <tbody>                                                            
                                {% if book_reviews is sequence %}                                                                
                            <tr>
                                <th>Number of Reviews</th>
                                <td>{{ book_stats.total_reviews }}</td>                                                                
                                <td>{{ google_books.total_reviews }}</td>
                            </tr>
                            <tr>
                                <th>Average Rating</th>                                
                                <td>{{ book_stats.average_rating }}</td>                                                                                                
                                <td>{{ google_books.average_rating }}</td>
                            </tr>
                            
                            {% else %}
                            <tr>
                                <th>Number of Reviews</th>
                                <td>0</td>                                                                
                                <td>{{ google_books.total_reviews }}</td>
                            </tr>
                            <tr>
                                <th>Average Rating</th>                                
                                <td>0</td>                                                                                                
                                <td>{{ google_books.average_rating }}</td>
                            </tr>
                                {% endif %}                            
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="description-sect p-1">
                <button class="btn-secondary description-btn">Book Description <i class="fas fa-caret-down    "></i></button>
                <div class="description">
                    <p class="p-1 fs-0">{{ google_books.description }}</p>
                </div>
                
            </div>
        </div>    
    </section>
    <section class="container review">            
        {% if book_reviews %}            
        <h1 class="review-header fs-1 card">Reviews</h1>        
        <div class="book-reviews">  
        {% for review in book_reviews %}
            <div class="users-reviews card">
                <div class="user-avatar">
                    <img src="{{ url_for('static', filename='imgs/avatars/'+review.name) }}" alt="">
                </div>
                <div class="user-name">                    
                    <p><a href="{{ url_for('profile.show_user_profile', name=review.name) }}">{{ review.name }}</a></p>
                </div>
                <div class="user-review">
                    <p class="fs-2"> <img src="{{ url_for('static', filename='imgs/ratings/rating_{}.png'.format(review.rating)) }}" alt="">  {{ review.rating }}</p>
                    
                </div>
                <div class="user-review-text">
                    <p>
                        {{ review.opinion }}
                    </p>
                </div>
            </div>        
            
        {% endfor %}
        </div>        
        {% else %}
        <h1 class="review-header fs-1 card">No reviews.</h1>        
        {% endif %}
        
        {% if not user_review_exists %}
        <div>        
        {% for message in get_flashed_messages() %}
            {% if message %} 
            <div class="card" role="alert">
            <strong>
                {{ message }}
            </strong>
            </div>
            {% endif %}            
            {% endfor %}
            <div class="review-add card">
                <button id="review-add-btn" class="btn-secondary" onclick="show_review()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Review</button>
                <div class="review_form">
            
                <form action="{{ url_for('books.add_review', isbn=book_results.isbn) }}" class="form-review" method="post">
                    <div id="star-container" class="form-row">
                        
                        <div class="reviews">
                            
                            <input type="radio" name="rating" id="rate-0" class="review-input review-input-none" value="0" checked>
                            <label class="review-label review-label-zero" for="rate-0">
                                <i class="no-star fa fa-vote-yea"></i>                
                            </label>
                            <input type="radio" name="rating" id="rate-1" class="review-input review-input-one" value="1">
                            <label class="review-label review-label-one" for="rate-1">                
                                <i class="star fa fa-star"></i>
                                <i class="fas fa-angry" style="font-size: 1.5em;"></i>
                            </label>
                            <input type="radio" name="rating" id="rate-2" class="review-input review-input-two" value="2">
                            <label class="review-label review-label-two" for="rate-2">
                                <i class="star fa fa-star"></i>
                                <i class="fas fa-frown" style="font-size: 1.5em;"></i>
                            </label>
                            <input type="radio" name="rating" id="rate-3" class="review-input review-input-three" value="3">
                            <label class="review-label review_label-three" for="rate-3">
                                <i class="star fa fa-star"></i>
                                <i class="fas fa-meh-rolling-eyes" style="font-size: 1.5em;"></i>
                            </label>
                
                            <input type="radio" name="rating" id="rate-4" class="review-input review-input-four" value="4">
                            <label class="review-label review-label-four" for="rate-4">                
                                <i class="star fa fa-star"></i>
                                <i class="fas fa-grin-beam" style="font-size: 1.5em;"></i>    
                            </label>
                            <input type="radio" name="rating" id="rate-5" class="review-input review-input-five" value="5">
                            <label class="review-label review-label-five" for="rate-5">                
                                <i class="star fa fa-star"></i>
                                <i class="fas fa-grin-hearts"  style="font-size: 1.5em;"></i>
                            </label>            
                        
                        </div>
                    </div>
                    <div>
                        <textarea class="review-text" name="user_review" id="" rows="5"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn-primary"> Submit Review </button>
                    </div>
                </form>
                </div>
            </div>
        </div>            
    {% endif %}
</section>    



{% endblock %}

{% block script %}
<script>        
    let bookDescriptionToggleButton = document.querySelector('.description-btn');
    
    let descriptionText = document.querySelector('.description');

    
    bookDescriptionToggleButton.addEventListener('click', () => {
            descriptionText.classList.toggle('show-description');
            let textContent = bookDescriptionToggleButton.innerHTML            
            if (textContent.includes("fa-caret-down")) {
                textContent = textContent.replace('down','up')
            }
            else if (textContent.includes("fa-caret-up")) {
                textContent = textContent.replace('up',"down")
            }
            bookDescriptionToggleButton.innerHTML = textContent;
    });
    
    let addReviewButton = document.querySelector('.review-add');        
    
    let textInButton = document.getElementById('review-add-btn')
    function show_review() {
        addReviewButton.classList.toggle('review-show')
        let textContent = textInButton.innerHTML            
        if (textContent.includes("fa-plus")) {
            textContent = textContent.replace('fa-plus','fa-minus')
        }
        else if (textContent.includes("fa-minus")) {
            textContent = textContent.replace('fa-minus',"fa-plus")
        }
        textInButton.innerHTML = textContent
    }

</script>

{% endblock %}