{% extends 'base.html' %}

{% block stylesheet %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/search_results.css') }}">
{% endblock %}

{% block header %} 
<br>
<h1 style="padding: 10px; text-align: center; margin: 0px auto 10px auto; width: 100%;">{% block title %}Book Search{% endblock %}</h1>
{% endblock %}    
<br>
{% block content %} 

<div class="col-12 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12">    
    
    <form action="{{ url_for('books.search') }}" method="get">
        <div class="form-row">
        <div class="input-group">
            <input class="form-control" type="text" name='search_term' placeholder="ISBN/Title/Author/Year" value="{{ request.args.get('search_term', None) or ''}}">
            <span class="input-group-append">
                <button class="btn btn-secondary" type="submit">Search</button>
        </span>
            
        </div>
        </div>
        <br>
        <div class="form-row" >
        <div style="margin:0px auto 0px auto;">        
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="search_filter" id="title" value="title"> Title
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="search_filter" id="author" value="author"> Author
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="search_filter" id="year" value="year"> Year
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="search_filter" id="isbn" value="isbn"> ISBN
            </label>
        </div>
    </div>
    </div>
    </form>
</div>

{% if search %}
<div class="results_view">
    
    {% if list_results %}
    <h3 style="padding: 10px; text-align: center; margin: 10px auto; width: 100%;">Search Results For <q>{{ request.args.get("search_filter", '') }}&colon; {{ request.args.get("search_term") }}</q></h3>
    <div class="grid_results"> 
    {% for result in list_results %}
    
        <a class="flex_results" href="{{ url_for('books.reviews', isbn=result.isbn) }}">
            <p><img src="{{ url_for('static', filename='imgs/Background6.png') }}" alt=""></p>
            <ul>
                <li> <b>Title:</b>   {{ result.title }}</li>
                <li><b>Author:</b> {{ result.author }}</li>
                <li><b>Year:</b> {{ result.year }}</li>           
                <li><b>ISBN:</b> {{ result.isbn }}</li>     
                <!-- <li>Average Rating</li> -->
                <!-- <li>Num Responses</li> -->
            </ul>
        </a>
    {% endfor %}

    {% else %}   
    <h4 style="padding: 10px; text-align: center; margin: 10px auto; width: 100%;">{{ message }}</h4>        
    {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
